// COLOR VARIABLES
$color-primary: #4f816a;
$color-primary-light: #accac5;
$color-primary-dark: #105761;

$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary: #ff9100;
$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-quaternary: #000dff;
$color-quaternary-light: #72b4ff;
$color-quaternary-dark: #001b5b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

$color-purple: #9900ff;
$color-purple-light: #d4afec;
$color-purple-dark: #300050;

$color-bg-1: #dcdcee;

// FONT VARIABLES
$default-font-size: 1.6rem;
$font-primary: 'Playfair Display', 'Microsoft JhengHei', sans-serif;