.feature-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 4rem;

    @include respond("tab-port") { 
        padding: 3rem;
    }

    @include respond("phone") { 
        padding: 2rem;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        &-box {
            flex-basis: 40%;
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    &__word-box {
        flex-basis: 60%;
        padding: 0 2rem;
        @include respond("phone") { 
            padding: 2rem 0 0 0;
        }
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
    }

    &__label {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        // width: 30%;
        // transform: skewX(12deg);
        // @include respond("phone") { 
        //     margin: 1rem auto;
        //     width: 50%;
        // }
    }

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        fill: $color-primary;
        margin: 1rem;
        // transform: skewX(-12deg);
    }

    &__title {
        margin: 1rem;
        // transform: skewX(-12deg);
    }

    &__text {
        color: $color-grey-dark-1;
        font-size: 2rem;
    }
}