.feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    @include respond("tab-port") { 
        padding: 3rem;
    }

    @include respond("phone") { 
        padding: 2rem;
    }

    &__item {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 40%;
        transform: skewX(12deg);

        @include respond("tab-port") { 
            width: 50%;
        }

        @include respond("phone") { 
            width: 60%;
        }
    }

    &__text {
        transform: skewX(-12deg);
    }

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        fill: $color-primary;
        margin: 1rem;
        transform: skewX(-12deg);
    }
}