.feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    @include respond("tab-port") { 
        padding: 3rem;
    }

    @include respond("phone") { 
        padding: 2rem;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        &-box {
            flex-basis: 40%;
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    &__word-box {
        flex-basis: 60%;
        padding: 2rem;
    }


    &__label {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 40%;
        transform: skewX(12deg);

        @include respond("phone") { 
            margin: 1rem auto;
        }
    }

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        fill: $color-primary;
        margin: 1rem;
        transform: skewX(-12deg);
    }

    &__title {
        transform: skewX(-12deg);
    }

    &__text {
        color: $color-grey-dark-1;
        font-size: 2rem;
    }
}