.stories {
    &__triangle {
        position: absolute;
        top: 0;
        left: 50%;

        transform: translate(-50%, -30%);
        height: 7rem;
        width: 7rem;
        fill: $color-white;

        @include respond("phone") {
            height: 4rem;
            width: 4rem;
        }
    }

    &__box {
        display: table;
        text-align: center;

        @include respond("phone") {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__img {
        display: table-cell;
        width: 100%;
        object-fit: cover;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.01);
        }

        &-box {
            width: 100%;
            padding: 3rem 2rem;
        }
    }

    &__details {
        display: table-cell;
        vertical-align: middle;
        width: 66.66%;
        color: $color-grey-dark-1;
        font-weight: 600;

        font-size: 2rem;
        @include respond("tab-port") {
            font-size: 1.5rem;
        }
        @include respond("phone") {
            font-size: 1rem;
            display: block;
            -moz-column-count: 1;
            column-count: 1;
        }

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}