.section {
    &-about {
        position: relative;
        padding-top: 29vh;
        margin-top: -50vh;
        padding-bottom: 3rem;

        z-index: 10;
        background-image: linear-gradient(
            to right, 
            rgba($color-primary-light, 1),
            rgba($color-primary-dark, 1)
        );

        min-height: 50vh;
        @supports(clip-path: ellipse(0 0 at 0 0)) or (-webkit-clip-path: ellipse(0 0 at 0 0)) {
            -webkit-clip-path: url(#waveClip__two-way);
            clip-path: url(#waveClip__two-way);
        }
        
        @include respond("tab-land") {
            padding-top: 25vh;
        }

        // @include respond("phone") {
        //     @supports(clip-path: ellipse(0 0 at 0 0)) or (-webkit-clip-path: ellipse(0 0 at 0 0)) {
        //         -webkit-clip-path: url(#waveClip__one-way);
        //         clip-path: url(#waveClip__one-way);
        //     }
        // }

        @include respond("phone") {
            margin-top: -37vh;
            padding-top: 15vh;
        }
    }

    &-features {
        cursor: default;
        position: relative;
        background-color: rgba($color-grey-light-3, .3);
    }

    &-stories {
        cursor: default;
        position: relative;
        padding: 5rem;
        @include respond("tab-port") {
            padding: 3rem;
        }
        @include respond("phone") {
            padding: 1.5rem;
        }
        background-image: linear-gradient(
            to right bottom, 
            #105761aa, #006b70aa, #00807baa, 
            #009581aa, #19aa81aa, #3fb373aa, 
            #60ba63aa, #80c050aa, #a0b92faa, 
            #c0b004aa, #e0a300aa, #ff9100aa
        );
    }
}

.cards {
    @include respond("phone") { 
        display: none;
    }
}

.carousels {
    display: none;
    @include respond("phone") { 
        display: block;
    }
}